/* Page content */
.main {

}

#desktop {
    margin-right: 300px; /* Equals to sidebar width */
}

.mnavbar {
    height: 80px;
    display: flex;
    align-items: center;
}
.mnavbar div {
    font-size: 50px;
    color: rgb(112, 111, 111);
}

.dir-path {
    height: 40px;
    background-color: rgb(231, 231, 231);
}

.dir-path a {
    color: black;
}

.directory {
    width: 50px;
    height: 60px;
    margin: 10px 10px;
    text-align: center;
}

.directory .glyphicon {
    font-size: 30px;
}

.file {
    width: 50px;
    height: 60px;
    margin: 10px 10px;
    text-align: center;
    text-justify: auto;
}

.file .glyphicon {
    font-size: 30px;
}

.file span {
    color: black;
}

.cntnr-pdn { /* Set container-fluid padding in home */
    padding: 10px 40px; 
}