/* Page content */
.main {

}

#desktop {
    margin-right: 300px; /* Equals to sidebar width */
}

.dskout span {
    background-color: #f01616;
    color: blue;
    font-size: 20px;
    border-left: thick solid #00ff00;
    border-top: thick solid #00ff00;
}

.dskin {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    padding: 10px 10px;   
}

.mnavbar {
    height: 80px;
    display: flex;
    align-items: center;
}
.mnavbar div {
    font-size: 50px;
    color: rgb(112, 111, 111);
}

.dir-path {
    height: 40px;
    background-color: rgb(231, 231, 231);
}

.dir-path a {
    color: black;
}

.directory {
    width: 50px;
    height: 60px;
    margin: 10px 10px;
}

.directory .glyphicon {
    font-size: 30px;
}

.directory a {
    color: #6f6f6f;
}

.file {
    width: 50px;
    height: 60px;
    margin: 10px 10px;
}

.file .glyphicon {
    font-size: 30px;
}

.file a {
    color: #6f6f6f;;
}

.cntnr-pdn { /* Set container-fluid padding in home */
    padding: 10px 40px; 
}