/* The sidenav */
.sidenav {
    height: 100%;
    width: 400px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 160px; /* Same as the height of navbar times 2 */
    border-left: 1px solid black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.list-servers {
    margin-top: 10px;
}

.list-servers md-toolbar .md-toolbar-tools {
    color: #4c4c4c;
    background-color: #cbcbcb;
}