<div class="main">

    <nav class="navbar fixed-top navbar-dark mnavbar">
        <div class="navbar-brand">BeeFS</div>
    </nav>

    <div ng-controller="HomeController as ctrl">

        <nav class="navbar fixed-top navbar-dark dir-path">
            <a class="navbar-brand" href="#">{{currentPath}}</a>
        </nav>
        <!-- <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol> -->

        <div id="desktop">
            <div clas="dskout">
                <div clas="dskin">
                    <div class="container-fluid cntnr-pdn">
                        <div class="row">
                            <div ng-repeat="file in list_dir | orderBy : '-is_dir'" class="col-md-1" ng-click='clickFile(file)'>
                                <div ng-if="file.is_dir">
                                    <directory info='file'></directory>
                                </div>
                                <div ng-if="!file.is_dir">
                                    <file info='file'></file>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidenav">
            <div class="container-fluid">
                <div ng-if='anyFileClicked'>
                    <md-toolbar class="md-theme-light">
                        <h2 class="md-toolbar-tools">
                            <div layout="row" layout-align="space-between center" flex>
                                <span>Nome: {{clickedFile.name}}</span>
                                <md-button class="md-icon-button" ng-click="openMigrationDialog()">
                                    <md-icon>call_split</md-icon>
                                </md-button>                                
                            </div>
                        </h2>
                    </md-toolbar>
                </div>
                <list-servers info='clickedFile'></list-servers>
                <checksum></checksum>
            </div>
        </div>

        <md-progress-linear md-mode="query" ng-disabled="!loadingDirectory"></md-progress-linear>

    </div>

</div>