<div class="main">

    <nav class="navbar fixed-top navbar-dark mnavbar">
        <div class="navbar-brand">BeeFS</div>
    </nav>

    <div ng-controller="HomeController as ctrl">

        <nav class="navbar fixed-top navbar-dark dir-path">
            <a class="navbar-brand" href="#">{{currentPath}}</a>
        </nav>

        <!-- <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol> -->

        <div id="desktop" class="container-fluid cntnr-pdn">
            <div class="row">
                <div ng-repeat="file in list_dir | orderBy : '-is_dir'" class="col-md-1">
                    <div ng-if="file.is_dir">
                        <directory info='file'></directory>
                    </div>
                    <div ng-if="!file.is_dir">
                        <file info='file' align="center"></file>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidenav">
            <a href="#"></a>
        </div>
    </div>

</div>